replicaCount: 1

image:
  repository: redis
  pullPolicy: IfNotPresent
  tag: "7.0-alpine"

service:
  type: ClusterIP
  port: 6379

persistence:
  enabled: true
  storageClass: ""
  size: 8Gi

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

redis:
  password: ""
  maxmemory: "256mb"
  maxmemoryPolicy: "allkeys-lru"


